<h2>Comments</h2>
  <% @comments.includes(:user).each do |comment| %>
    <div>
      <strong>User:</strong> <%= comment.name.empty? ? comment.user&.email : comment.name %> / 
      <strong>Content:</strong> <%= comment.content %> /
      <strong>Posted at:</strong> <%= l comment.created_at, format: :short %>
      <% if comment.user == current_user %>
        <%= button_to "Destroy this comment", [@commentable, comment], method: :delete %>
      <% end %>
    </div>
  <% end %>

<%= render "comments/form", comment: @comment %>
