<%= form_with(model: [ @commentable, comment ], local: true) do |form| %>

  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div>
    <%= form.text_area :content, class: "form-control", rows: 5 %>
    <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  </div>
<% end %>
