<h1><%= t("activerecord.models.user") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.name") %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to t("views.common.show", name: User.model_name.human), user %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<li><%= link_to t("views.common.home"), root_path %></li>
