<h1><%= t("views.common.user_details", name: User.model_name.human) %></h1>

<p>
  <strong><%= t("activerecord.attributes.user.name") %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.email") %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.zip_code") %>:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.address") %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.bio") %>:</strong>
  <%= @user.bio %>
</p>

<% if current_user == @user %>
  <%= link_to t("views.common.edit", name: User.model_name.human), edit_user_registration_path %> |
<% end %>
<%= link_to t("views.common.back", name: User.model_name.human), users_path %>
