<p style="color: green"><%= t('books.notice') %></p>

<h1><%= t('books.heading') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
        <%= render book %>
        <p>
            <%= link_to t('books.show_book'), book_path(id: book.id) %>
        </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('books.new_book'), new_book_path %>
</nav>
