<p style="color: green"><%= t('common.notice') %></p>

<h1><%= t('common.heading') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
        <%= render book %>
        <p>
            <%= link_to t('common.show'), book_path(id: book.id) %>
        </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('common.new'), new_book_path %>
</nav>
