<h1><%= t('views.common.title_edit', name: Report.model_name.human) %></h1>

<%= render "form", report: @report %>

<% if @report.errors.any?  && @report.errors[:base].blank? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@report.errors.count, "error") %> <%= t('views.common.failed_to_save') %>:</h2>
    <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.show', name: Report.model_name.human.downcase), @report %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>
</nav>
