<h1><%= t('views.common.title_index', name: i18n_pluralize(Report.model_name.human)) %></h1>

<div id="reports">
  <% @reports.each do |report| %>
    <div>
      <strong><%= Report.human_attribute_name(:title) %></strong> <%= report.title %> /
      <%= report.user.name %>
      <%= link_to t('views.common.show', name: Report.model_name.human.downcase), report %>
    </div>
  <% end %>
</div>

<%= link_to t('views.common.new', name: Report.model_name.human.downcase), new_report_path %>
