<%= render @report %>

<%= render 'comments/comment', commentable: @report, current_user: current_user %>

<div>
  <% if @report.user == current_user %>
    <%= link_to "Edit this report", edit_report_path(@report) %>

    <%= button_to "Destroy this report", @report, method: :delete %>
  <% end %>
</div>

<%= link_to "Back to reports", reports_path %>
